.about {
  position: relative;
  background: linear-gradient(180deg, #fff 0%, #D0D9E3 50%, #fff 100%);
  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #fff 0%, $tr 100%);
    z-index: 1;
  }
  &__video {
    min-height: 330px;
    @include flex-center;
    @include cv;
    @include r(800) {
      min-height: 180px;
    }
    &-button {
      width: 82px;
      height: 82px;
      background-color: $tr;
      box-shadow: none;
      outline: none;
      border: 3px solid #fff;
      border-radius: 50%;
      @include flex-center;
      svg {
        fill: #fff;
      }
      &:hover {
        background-color: $blue;
        border-color: $blue;
      }
    }
  }
  &__descr {
    font-size: 16px;
    font-family: $f-reg;
    span {
      font-family: $f-med;
    }
  }
}