.dir {
  &__in {
    position: relative;
    z-index: 3 !important;
    .container {
      position: relative;
    }
  }
  &__decor {
    position: absolute;
    max-height: 900px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include r(1200) {
      max-height: 360px;
      top: -50px;
      right: 50%;
      transform: translateX(50%) rotate(-90deg);
    }
  }
  &__item {
    padding: 30px 0;
    opacity: 0;
    transform: translateX(-20px);
    @include ease-in-out;
  }
  .owl-carousel {
    @include rmin(1200) {
      .owl-stage-outer {
        overflow: visible;
      }
    }
    .owl-nav {
      button {
        &.owl-prev,
        &.owl-next {
          top: 200px;
          transform: translateY(0);
          @include r(600) {
            top: 130px;
          }
        }
      }
    }
    .owl-item {
      &.active {
        .dir__item {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
  &__descr {
    font-family: $f-bold;
    margin-bottom: 30px;
    max-width: 570px;
    @include r(800) {
      margin-bottom: 15px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-col {
      flex-basis: 50%;
      @include r(800) {
        flex-basis: 100%;
        margin-bottom: 8px;
      }
      @include rmin(1200) {
        &:nth-child(2) {
          padding-left: 15px;
        }
      }
    }
    &-item {
      font-family: $f-reg;
      font-size: 14px;
      &:not(:last-child) {
        margin-bottom: 15px;
        @include r(800) {
          margin-bottom: 8px;
        }
      }
    }
  }
  &__image {
    max-width: 400px;
    @include r(1200) {
      max-width: 260px;
      margin-left: auto;
      margin-right: auto;
    }
    @include r(600) {
      max-width: 145px;
    }
    &-wrapper {
      position: relative;
      text-align: center;
    }
  }
  &__switch-button {
    padding-right: 0;
    &::before {
      display: none;
    }
    &--prev {
      svg {
        margin-right: 3px;
      }
    }
    &--next {
      svg {
        margin-left: 3px;
      }
    }
    .button__icon {
      border: 2px solid $dark;
      background-color: $tr;
      margin-right: 0;
      @include ease-in-out;
      svg {
        stroke: $dark;
      }
    }
    &:hover {
      .button__icon {
        &::before {
          display: none;
        }
        border-color: $blue;
        background-color: $blue;
        transform: translateX(0);
        svg {
          stroke: #fff;
          transform: translateX(0);
        }
      }
    }
  }
  &__button {
    @include r(1200) {
      margin-top: 25px;
    }
    @include r(600) {
      width: 100%;
      justify-content: center;
    }
  }
}