div {
  &.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    ul {
      &.pagination {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding: 0;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          @include ease;
          &:not(:last-child) {
            margin-right: 5px;
          }
          &.page-item {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &.active {
              a {
                font-family: $f-bold;
              }
            }
            a {
              font-family: $f-reg;
              color: $dark;
              border: none;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          &:hover {
            opacity: .7
          }
          &.control {
            opacity: 1;
            color: #fff;
            position: relative;
            overflow: hidden;
            background-color: $tr;
            border-radius: 50%;
            border: 1px solid $dark;
            @include ease;
            span {
              width: 24px;
              height: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              @include ease;
              svg {
                max-width: 17px;
                max-height: 17px;
                height: auto;
                fill: none;
                stroke: $dark;
                @include ease;
              }
            }
            &_prev {
              margin-right: 25px;
              @include r(1200) {
                margin-right: 5px
              }
            }
            &_next {
              margin-left: 25px;
              @include r(1200) {
                margin-left: 5px;
              }
            }
            &:hover {
              background-color: $blue;
              border-color: $blue;
              svg {
                stroke: #fff
              }
            }
          }
        }
      }
    }
  }
}