.button {
  position: relative;
  font-family: $h-bold;
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  padding: 0 25px 0 0;
  @include r(1200) {
    background-color: $blue;
    border-radius: 45px;
  }
  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    width: 56px;
    height: 56px;
    background-color: $blue;
    border-radius: 45px;
    transform: translateY(-50%);
    @include ease-in-out;
  }
  &__icon {
    position: relative;
    width: 56px;
    height: 56px;
    background-color: $blue;
    border-radius: 50%;
    margin-right: 13px;
    @include flex-center;
    @include r(1200) {
      margin-right: 0;
    }
    svg {
      fill: none;
      stroke: #fff;
      @include ease-in-out;
    }
  }
  &__text {
    position: relative;
    font-family: $f-bold;
    font-size: 13px;
    text-transform: uppercase;
    color: $dark;
    @include ease-in-out;
    @include r(1200) {
      color: #fff;
    }
  }
  &:hover {
    &::before {
      width: 100%;
    }
    .button {
      &__icon {
        svg {
          transform: translateX(10px);
        }
      }
      &__text {
        color: #fff;
      }
    }
  }
  &--white {
    .button {
      &__text {
        color: #fff;
      }
    }
  }
}
.link--decor {
  span {
    color: $dark;
    border-bottom: 1px solid $dark;
    margin-right: 8px;
  }
  svg {
    fill: none;
    stroke: $dark;
    @include ease-in-out;
  }
  &:hover {
    svg {
      transform: translateX(5px);
    }
  }
}