.form {
  //&__pol {
  //  max-width: 490px;
  //}
  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 25px;
    @include r(1200) {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &-input {
      position: absolute;
      opacity: 0;
      z-index: 1;
      &:checked ~ .form__checkbox-gal {
        svg {
          opacity: 1;
          transform: scale(1) rotate(0);
        }
        span {
          opacity: 0;
          transform: translate(-50%,-50%) rotate(-20deg);
        }
      }
    }
    &-gal {
      position: relative;
      background: $gr;
      border: 3px solid $tr;
      width: 48px;
      min-width: 48px;
      height: 48px;
      margin-right: 10px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include ease-in-out;
      svg {
        opacity: 0;
        transform: scale(.5) rotate(20deg);
        fill: none;
        stroke: $blue;
        @include ease-in-out;
      }
      &-square {
        position: absolute;
        width: 18px;
        height: 18px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid $blue;
        border-radius: 3px;
        @include ease-in-out;
      }
      &:hover {
        border-color: $blue;
      }
    }
    &-text {
      font-family: $f-reg;
      font-size: 14px;
    }
    &-link {
      border-bottom: 1px solid $blue;
      &:hover {
        border-color: $dark;
      }
    }
  }
}