input,
textarea,
select {
  color: $dark;
  font-family: $h-reg, Roboto, sans-serif;
  font-size: 14px;
  padding: 10px 0 12px;
  border-radius: 0;
  background: none;
  border: none;
  border-bottom: 2px solid $dgr;
  transition: all .4s ease;
}
option {
  color: $dark;
}
textarea {
  resize: none !important;
  overflow: hidden;
  outline: none;
  &::placeholder {
    color: $dark;
  }
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: $dark;
}
input:focus,
textarea:focus,
input:active,
textarea:active {
  color: $dark;
  border-bottom-color: $dark;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* select2 */
.select2-dropdown {
  border: 1px solid #EBEBEB;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
}
.select2-container--open {
  .select2-selection__arrow {
    transform: scaleY(-1)
  }
  .select2-dropdown--below {
    border: none;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }
}
.select2-container--default {
  font-size: 14px;
  .select2-selection--single {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $dgr;
    background: none;
    outline: none;
    padding: 12px 0;
    min-height: 43.2px;
    display: flex;
    align-items: center;
    @include ease-in-out;
    .select2-selection__rendered {
      color: $dark;
      padding: 0;
    }
    .select2-selection__arrow {
      background-image: url('../img/icon-arrow--select.svg');
      @include ease-in-out;
      background-position: 100% 50%;
      background-size: 13px;
      background-repeat: no-repeat;
      top: 7px;
      b {
        display: none;
      }
    }
  }
  .select2-results__option {
    @include ease-in-out;
  }
  .select2-results__option--highlighted[aria-selected] {
    color: $dark;
    background-color: #F6F6F6;
  }
  .select2-results__option[aria-selected=true] {
    background-color: #F6F6F6;
    color: $dark;
  }
  .select2-results>.select2-results__options {
    &::-webkit-scrollbar {
      width: 10px;
      &-track {
        background-color: #fff;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      }
      &-thumb {
        background-color: $blue;
        border-radius: 50px;
      }
    }
  }
}
.select2-container--open {
  .select2-selection--single {
    border-bottom-color: $dark;
  }
}