.layout {
  position: relative;
  overflow: hidden;
  min-height: 63vh;
  @include r(800) {
    min-height: 53vh;
  }
  &__overlay {
    background-color: $blue;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    @include ovl;
    @include ease;
  }
  &__grid {
    position: fixed;
    max-width: 1140px;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    z-index: 1;
    opacity: .1;
    @include r(1200) {
      display: none;
    }
    &-item {
      height: 100%;
      border-right: 1px solid #553f3f;
      &:first-child {
        border-left: 1px solid #553f3f;
      }
    }
  }
}