.section {
  &--inner {
    padding: 60px 0;
    @include r(1200) {
      padding: 35px 0
    }
    .section__in {
      position: relative;
      z-index: 2;
    }
  }
  &__title {
    font-size: 65px;
    font-family: $h-bold;
    margin-bottom: 15px;
    line-height: 1;
    @include r(1200) {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
  &__subtitle {
    font-size: 45px;
    font-family: $h-bold;
    margin-bottom: 20px;
    line-height: 1;
    span {
      font-family: $h-reg;
    }
    @include r(1200) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}
