.news-page {
  &__image {
    position: absolute;
    right: 0;
    max-width: 700px;
    @include r(1200) {
      position: relative;
      max-height: 250px;
      max-width: 100%;
      height: auto;
    }
    &-wrapper {
      position: relative;
    }
  }
  &__button {
    @include r(600) {
      width: 100%;
      justify-content: center;
    }
  }
}