.hero {
  position: relative;
  z-index: 5;
  overflow: hidden;
  &--inner {
    min-height: 95px;
    width: 100%;
    background: url('../img/header__bg.jpg');
    @include cv;
    @include r(800) {
      min-height: 52px;
    }
  }
}