<section class="about section--inner" id="about">
    <div class="section__in">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 order-2 order-xl-1">
                    <div class="about__video" style="background-image: url({{root}}assets/img/about__img.jpg);">
                        <button class="about__video-button" type="button">
                            <svg width="22" height="28">
                                <use xlink:href="#play"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="offset-xl-1 order-xl-2"></div>
                <div class="col-xl-5 order-1 order-xl-3 mb-4 mb-xl-0">
                    <div class="section__title">О компании</div>
                    <div class="about__descr"><span>ООО “ХОРИБА”</span> по всему миру предоставляет широкий спектр инструментов и систем для различных областей применения: от исследований и разработок в автомобильной промышленности, мониторинга процессов и окружающей среды, медицинской диагностики in-vitro, производства полупроводников и метрологии до широкого спектра научных исследований и исследований и контроля качества. Проверенное качество и надежная работа завоевали широкое доверие к бренду HORIBA.</div>
                </div>
            </div>
        </div>
    </div>
</section>