<section class="banner">
    <div class="container">
        <div class="banner__offer section--inner">
            <div class="banner__title section__title">Тестовый заголовок</div>
            <div class="banner__descr">Тестовый подзаголовок в одну или в две строки, а может быть в три строки. </div>
            <a class="button banner__button" href="#">
                <span class="button__icon">
                    <svg width="10" height="18">
                        <use xlink:href="#arrow--right"></use>
                    </svg>
                </span>
                <span class="button__text">Подробнее о Horiba</span>
            </a>
        </div>
    </div>
</section>