<section class="dir section--inner">
    <div class="section__in">
        <div class="container">
            <div class="dir__title section__title">Направления деятельности</div>
            <div class="dir__slider">
                <div class="dir__item">
                    <div class="row align-items-center">
                        <div class="col-xl-8">
                            <div class="section__subtitle"><span class="mr-3 mr-xl-4">01</span>Scientific</div>
                            <div class="dir__descr">HORIBA Scientific предлагает 200-летний опыт разработки высокопроизводительных научных инструментов и аналитических решений для наук о жизни, энергии и многих других приложений. Наши технологии включают в себя:</div>
                            <div class="dir__list">
                                <div class="dir__list-col">
                                    <div class="dir__list-item">Рамановская спектроскопия</div>
                                    <div class="dir__list-item">АСМ и АСМ-Раман</div>
                                    <div class="dir__list-item">Флуоресцентная спектроскопия</div>
                                    <div class="dir__list-item">Рентгеновская флуоресцентная спектроскопия</div>
                                    <div class="dir__list-item">Характеристика частиц</div>
                                    <div class="dir__list-item">Сера-в-масле</div>
                                    <div class="dir__list-item">Элементный анализ</div>
                                    <div class="dir__list-item">ICP-OES</div>
                                </div>
                                <div class="dir__list-col">
                                    <div class="dir__list-item">Индивидуальные решения для спектроскопии</div>
                                    <div class="dir__list-item">Спектрометры и камеры для OEM</div>
                                    <div class="dir__list-item">Поверхностная плазмонно-резонансная томография</div>
                                    <div class="dir__list-item">Спектроскопическая Эллипсометрия</div>
                                    <div class="dir__list-item">Криминалистика</div>
                                    <div class="dir__list-item">Оптическая эмиссионная спектрометри с тлеющим разрядом (GDOES)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="dir__image-wrapper">
                                <img class="dir__image" src="{{root}}assets/img/dir__img_1.png" alt="Directions Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dir__navigation">
                <button class="button" type="button">
                    <span class="button__icon">
                        <svg width="23" height="25">
                            <use xlink:href="#string-arrow--right"></use>
                        </svg>
                    </span>
                    <span class="button__text">Оставить заявку</span>
                </button>
                <div class="dir__switch">
                    <button class="button dir__switch-button js-dir__switch--prev" type="button">
                        <span class="button__icon">
                            <svg width="10" height="18">
                                <use xlink:href="#arrow--left"></use>
                            </svg>
                        </span>
                    </button>
                    <button class="button dir__switch-button js-dir__switch--next" type="button">
                        <span class="button__icon">
                            <svg width="10" height="18">
                                <use xlink:href="#arrow--right"></use>
                            </svg>
                        </span>
                    </button>
                </div>
                <a class="link--decor" href="#">
                    <span>Подробнее</span>
                    <svg width="5" height="9">
                        <use xlink:href="#arrow--right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>