<section class="feed section--inner" id="feed">
    <div class="section__in">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="feed__image-wrapper">
                        <img class="feed__image" src="{{root}}assets/img/feed__img.png" alt="Feed image">
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="feed__title section__subtitle">
                        <span>Для получения дополнительной информации</span> <br>заполните поля ниже
                    </div>
                    <form class="feed-form row">
                        <div class="col-sm-6 mb-2 mb-sm-3">
                            <input class="feed__input w-100" type="text" placeholder="Ваше имя">
                        </div>
                        <div class="col-sm-6 mb-2 mb-sm-3">
                            <input class="feed__input w-100" type="tel" placeholder="Ваш номер">
                        </div>
                        <div class="col-sm-6 mb-2 mb-sm-3">
                            <input class="feed__input w-100" type="email" placeholder="Ваша почта">
                        </div>
                        <div class="col-sm-6 mb-2 mb-sm-3">
                            <select class="feed__select js-select w-100">
                                <option value disabled selected hidden>Бизнес-сегмент</option>
                                <option value="1">Scientific</option>
                                <option value="2">Process and Environmental</option>
                                <option value="3">Automotive Test Systems</option>
                            </select>
                        </div>
                        <div class="col-12 mb-3 mb-sm-4">
                            <textarea class="feed__textarea w-100" rows="4" placeholder="Ваш комментарий"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="button feed__button" type="submit">
                                <span class="button__icon">
                                    <svg width="10" height="18">
                                        <use xlink:href="#arrow--right"></use>
                                    </svg>
                                </span>
                                <span class="button__text">Связаться со мной</span>
                            </button>
                        </div>
                        <div class="col-12">
                            {{> policy}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>