<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-12 mb-3 mb-xl-0 order-3 order-xl-1">
                <div class="d-flex flex-column justify-content-between align-items-start h-100">
                    <a class="footer__logo mb-3" href="#">
                        <svg width="200" height="32">
                            <use xlink:href="#logo"></use>
                        </svg>
                    </a>
                    <a class="footer__link mb-4" href="#">Политика конфиденциальности</a>
                    <span class="mt-auto">2017-2020 © ООО «ХОРИБА», разработка решений для исследований</span>
                    <div class="d-flex d-xl-none mt-4 align-items-end">
                        <span class="mr-3 mr-xl-5">Создание сайта Студия</span>
                        <a class="footer__akticom" href="https://akticom.ru/" target="_blank">
                            <svg width="109" height="41">
                                <use xlink:href="#akticom"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 order-1 order-xl-2 mb-3 mb-xl-0">
                <div class="d-flex flex-column justify-content-between align-items-start h-100">
                    <div class="footer__title">Подписка на рассылку</div>
                    <form class="footer__form w-100 mb-4">
                        <input class="w-100" type="email" placeholder="Ваша почта">
                        <button class="button footer__form-button" type="button">
                            <span class="button__icon">
                                <svg width="18" height="15">
                                    <use xlink:href="#mail"></use>
                                </svg>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 order-2 order-xl-3 mb-4 mb-xl-0">
                <div class="d-flex flex-column justify-content-between align-items-start">
                    <div class="mb-2 order-2 order-xl-1"><span class="h-bold">Адрес:</span> г. Москва, Тверская улица, дом 13</div>
                    <div class="mb-2 order-3 order-xl-2 mb-xl-3"><span class="h-bold">Почта:</span> <a class="footer__link" href="mailto:infi@horiba.ru">infi@horiba.ru</a></div>
                    <a class="footer__title footer__tel mb-3 order-1 order-xl-3" href="tel:84950000000">8 (495) 000-000</a>
                    <div class="d-none d-xl-flex align-items-end order-xl-4">
                        <span class="mr-3 mr-xl-5">Создание сайта Студия</span>
                        <a class="footer__akticom" href="https://akticom.ru/" target="_blank">
                            <svg width="109" height="41">
                                <use xlink:href="#akticom"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>