<div class="layout__grid">
    <div class="layout__grid-item">
        <div class="layout__grid-item-in"></div>
    </div>
    <div class="layout__grid-item">
        <div class="layout__grid-item-in"></div>
    </div>
    <div class="layout__grid-item">
        <div class="layout__grid-item-in"></div>
    </div>
    <div class="layout__grid-item">
        <div class="layout__grid-item-in"></div>
    </div>
    <div class="layout__grid-item">
        <div class="layout__grid-item-in"></div>
    </div>
    <div class="layout__grid-item">
        <div class="layout__grid-item-in"></div>
    </div>
</div>