<section class="news section--inner">
    <div class="section__in">
        <div class="container">
            <div class="section__title">Новости</div>
            <div class="row">
                <div class="col-xl-6 d-none d-xl-block">
                    <div class="news__item--wide h-100" style="background-image: url({{root}}assets/img/news__img_1.jpg);">
                        <div class="news__item--wide-in">
                            <div class="news__item--wide-date">01/24/2020</div>
                            <div class="news__item--wide-title">A close partnership between HORIBA Medical and Montpellier University Hospital</div>
                            <div class="news__item--wide-descr">Two parties have signed a contract to meet the company’s requirements of biological samples for the validation and development of IVD solutions and analyzers.</div>
                            <a class="button button--white" href="#">
                                <span class="button__icon">
                                    <svg width="10" height="18">
                                        <use xlink:href="#arrow--right"></use>
                                    </svg>
                                </span>
                                <span class="button__text">Читать далее</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex flex-column mb-4 mb-xl-5">
                        {{> news__item}}
                        {{> news__item}}
                        {{> news__item}}
                    </div>
                    <a class="button news__button" href="#">
                        <span class="button__icon">
                            <svg width="10" height="18">
                                <use xlink:href="#arrow--right"></use>
                            </svg>
                        </span>
                        <span class="button__text">Все новости</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>