@import "mixins";
@import "fonts";
@import "common/fonts";
@import "common/colors";
@import "common/one-classes";
@import "common/selections";
@import "common/states";
@import "common/inputs";
@import "common/buttons";
@import "common/checkbox";
@import "common/section";
@import "common/owl-custom";

html, body {
  position: relative;
  font-family: $h-reg, Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: $dark;
  padding: 0;
  margin: 0;
  max-width: 100%;
  &.fixed {
    overflow: hidden;
    padding-right: 15px;
  }
}
.svg-sprite {
  position: absolute;
  bottom: 0;
}
.layout {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  &__overlay {
    background-color: $blue;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    @include ovl;
    @include ease;
  }
  &__grid {
    position: fixed;
    max-width: 1140px;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 1;
    opacity: .2;
    &-item {
      height: 100%;
      border-right: 1px solid #553f3f;
      &:first-child {
        border-left: 1px solid #553f3f;
      }
    }
  }
}