@import "mixins";
@import "fonts";
@import "common/fonts";
@import "common/colors";
@import "common/one-classes";
@import "common/selections";
@import "common/states";
@import "common/inputs";
@import "common/buttons";
@import "common/checkbox";
@import "common/section";
@import "common/owl-custom";

html, body {
  position: relative;
  font-family: $g-reg, Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: $dark;
  background-color: #fff;
  padding: 0;
  margin: 0;
  max-width: 100%;
  &.fixed {
    overflow: hidden;
    padding-right: 15px;
  }
}