@font-face {
  font-family: 'GothamPro-BlackItalic';
  src: url('../fonts/GothamPro-BlackItalic.woff2') format('woff2'),
  url('../fonts/GothamPro-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
  url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-LightItalic';
  src: url('../fonts/GothamPro-LightItalic.woff2') format('woff2'),
  url('../fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.woff2') format('woff2'),
  url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProNarrow-Medium';
  src: url('../fonts/GothamProNarrow-Medium.woff2') format('woff2'),
  url('../fonts/GothamProNarrow-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-BoldItalic';
  src: url('../fonts/GothamPro-BoldItalic.woff2') format('woff2'),
  url('../fonts/GothamPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('../fonts/GothamPro-Light.woff2') format('woff2'),
  url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url('../fonts/GothamPro-Medium.woff2') format('woff2'),
  url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Italic';
  src: url('../fonts/GothamPro-Italic.woff2') format('woff2'),
  url('../fonts/GothamPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GothamPro-MediumItalic';
  src: url('../fonts/GothamPro-MediumItalic.woff2') format('woff2'),
  url('../fonts/GothamPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'GothamProNarrow-Bold';
  src: url('../fonts/GothamProNarrow-Bold.woff2') format('woff2'),
  url('../fonts/GothamProNarrow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Black';
  src: url('../fonts/GothamPro-Black.woff2') format('woff2'),
  url('../fonts/GothamPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}